.team-back {
	position: absolute;
	width:100%;
	height:100%;
	background-size: 100% 100%;
	z-index: -1;
}

.btn-a {
	width: 80%;
	height: 80%;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

.btn-b {
	width: 80%;
	height: 80%;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

/*
table td {
	border: 1px solid red;
}
*/

#build_deck_layout {
	width:90%;
	height:80%;
	margin: 5%;
	position: absolute;
}

#choose_card_layout {
	width:90%;
	height:90%;
	margin: 5%;
	position: absolute;
}

.button{
	background: #3B3B3B;
	color: white;
	font-family: Arial;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	border: solid #1f1f1f 2px;
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 6px;
	width: 100%;
	text-align: left;
	box-sizing: border-box;
}
  
.card {
	width:100%;
	height: 100px;
}

.card_active {
	border: 2px solid red;
}

.card_before {
	border: 2px solid blue;
}

.card_after {
	border: 2px solid blue;
}

.card_content {
	width: fit-content;
	margin: auto;
	padding-top: 30px;
	font-size: 14pt;
	color: white;
}

#touch_area_move {
	position: absolute;
	width: 80%;
	height: 80%;
	margin: 5% 10%;
	background-color: rgba(0,0,0,0.2);
	border: 2px solid green;
}

.circle_move {
	height: 30px;
	width: 30px;
	border-radius:50%;
	background-color: green;
	display: none;
	position: absolute;
}

#line_svg_move {
	width:100%;
	height: 100%;
	position: absolute;
	display:none;
}

#touch_area_throw {
	position: absolute;
	width: 80%;
	height: 80%;
	margin: 5% 10%;
	background-color: rgba(0,0,0,0.2);
	border: 2px solid red;
}

.circle_throw {
	height: 30px;
	width: 30px;
	border-radius:50%;
	background-color: red;
	display: none;
	position: absolute;
}

#line_svg_throw {
	width:100%;
	height: 100%;
	position: absolute;
	display:none;
}

.area-info {
	position: absolute;
	width:100%;
	top:15%;
	text-align: center;
    color: rgba(255,255,255,.5);
    font-family: Arial;
}